*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

coverage

  git config --global user.email "anthonypaquet1508@gmail.com"
  git config --global user.name "Anthony Paquet"